.menu{
  background-color: #0070f3;
  box-sizing: border-box;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: #FFF;
  padding: 30px;
  display: inline-block;
  text-decoration: none;
  float: center;
}

.menu ul li:last-child {
  float: center;
}